* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

nav {
  background-color: grey;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  list-style-type: none;
}

nav li {
  display: inline-block;
}

nav a {
  display: flex;
  padding: 10px;
  color: white;
  text-decoration: none;
}

nav img {
  position: relative;
  vertical-align: middle;
}

nav .selected-page {
  background-color: blueviolet;
}

nav a:hover {
  background-color: blueviolet;
}

header {
  background: greenyellow;
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font: bold italic 2em sans-serif;
  color: blueviolet;
  text-shadow: #000 2px 2px 0.2rem;
}

article {
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  padding-bottom: 1.5rem;
}

li {
  list-style-type: none;
}

.game-spread {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.game-spread li {
  width: 33%;
  padding: 10px;
  min-height: 200px;
}

.button {
  background-color: yellowgreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.vectorshot {
  background-color: blue;
}

.spadeknights {
  background-color: whitesmoke;
}

.omega {
  background-color: aqua;
}

footer {
  bottom: 0px;
  padding: 1em;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
